:root {
    /* 특정 모드에 따라 바뀌지 않는 고정 값*/

    /* color - basic */
    --b-color-white: #ffffff;
    --b-color-black: #000000;
    --b-color-gray: #a8acb0;
    
    /* color - overlay */
    --s-overlay-white-05: rgba(var(--b-color-white), var(--b-opacity-05));
    --s-overlay-white-10: rgba(var(--b-color-white), var(--b-opacity-10));
    --s-overlay-white-15: rgba(var(--b-color-white), var(--b-opacity-15));
    --s-overlay-white-20: rgba(var(--b-color-white), var(--b-opacity-20));
    --s-overlay-white-30: rgba(var(--b-color-white), var(--b-opacity-30));
    --s-overlay-white-40: rgba(var(--b-color-white), var(--b-opacity-40));
    --s-overlay-white-50: rgba(var(--b-color-white), var(--b-opacity-50));
    --s-overlay-white-60: rgba(var(--b-color-white), var(--b-opacity-60));
    --s-overlay-white-70: rgba(var(--b-color-white), var(--b-opacity-70));
    --s-overlay-white-80: rgba(var(--b-color-white), var(--b-opacity-80));
    --s-overlay-white-90: rgba(var(--b-color-white), var(--b-opacity-90));
    --s-overlay-white-95: rgba(var(--b-color-white), var(--b-opacity-95));
    --s-overlay-black-05: rgba(var(--b-color-black), var(--b-opacity-05));
    --s-overlay-black-10: rgba(var(--b-color-black), var(--b-opacity-10));
    --s-overlay-black-15: rgba(var(--b-color-black), var(--b-opacity-15));
    --s-overlay-black-20: rgba(var(--b-color-black), var(--b-opacity-20));
    --s-overlay-black-30: rgba(var(--b-color-black), var(--b-opacity-30));
    --s-overlay-black-40: rgba(var(--b-color-black), var(--b-opacity-40));
    --s-overlay-black-50: rgba(var(--b-color-black), var(--b-opacity-50));
    --s-overlay-black-60: rgba(var(--b-color-black), var(--b-opacity-60));
    --s-overlay-black-70: rgba(var(--b-color-black), var(--b-opacity-70));
    --s-overlay-black-80: rgba(var(--b-color-black), var(--b-opacity-80));
    --s-overlay-black-90: rgba(var(--b-color-black), var(--b-opacity-90));
    --s-overlay-black-95: rgba(var(--b-color-black), var(--b-opacity-95));
    --s-overlay-gray-05: rgba(var(--b-color-gray), var(--b-opacity-05));
    --s-overlay-gray-10: rgba(var(--b-color-gray), var(--b-opacity-10));
    --s-overlay-gray-15: rgba(var(--b-color-gray), var(--b-opacity-15));
    --s-overlay-gray-20: rgba(var(--b-color-gray), var(--b-opacity-20));
    --s-overlay-gray-30: rgba(var(--b-color-gray), var(--b-opacity-30));
    --s-overlay-gray-40: rgba(var(--b-color-gray), var(--b-opacity-40));
    --s-overlay-gray-50: rgba(var(--b-color-gray), var(--b-opacity-50));
    --s-overlay-gray-60: rgba(var(--b-color-gray), var(--b-opacity-60));
    --s-overlay-gray-70: rgba(var(--b-color-gray), var(--b-opacity-70));
    --s-overlay-gray-80: rgba(var(--b-color-gray), var(--b-opacity-80));
    --s-overlay-gray-90: rgba(var(--b-color-gray), var(--b-opacity-90));
    --s-overlay-gray-95: rgba(var(--b-color-gray), var(--b-opacity-95));

    /* opacity 
    figma_link - https://www.figma.com/file/kof3uMLDgWjiLtlqePo0ZZ/2022-design-system?node-id=24%3A42548 */
    --b-opacity-05: 0.05;
    --b-opacity-10: 0.1;
    --b-opacity-15: 0.15;
    --b-opacity-20: 0.2;
    --b-opacity-30: 0.3;
    --b-opacity-40: 0.4;
    --b-opacity-50: 0.5;
    --b-opacity-60: 0.6;
    --b-opacity-70: 0.7;
    --b-opacity-80: 0.8;
    --b-opacity-90: 0.9;
    --b-opacity-95: 0.95;

    /* sizing 
    figma_link - https://www.figma.com/file/kof3uMLDgWjiLtlqePo0ZZ/2022-design-system?node-id=35%3A5521 */
    --b-size-1: 2px;
    --b-size-2: 4px;
    --b-size-3: 6px;
    --b-size-4: 8px;
    --b-size-5: 12px;
    --b-size-6: 16px;
    --b-size-7: 20px;
    --b-size-8: 24px;
    --b-size-9: 28px;
    --b-size-10: 32px;
    --b-size-11: 36px;
    --b-size-12: 40px;
    --b-size-13: 44px;
    --b-size-14: 48px;
    --b-size-15: 56px;
    --b-size-16: 64px;
    --b-size-17: 72px;
    --b-size-18: 80px;
    --b-size-19: 100px;
    --b-size-20: 120px;
    --b-size-21: 160px;

    /* spacing 
    피그마에 72 추가해야 됨
    figma_link - https://www.figma.com/file/kof3uMLDgWjiLtlqePo0ZZ/2022-design-system?node-id=32%3A620016*/
    --b-spacing-0: 0px;
    --b-spacing-1: 2px;
    --b-spacing-2: 4px;
    --b-spacing-3: 8px;
    --b-spacing-4: 12px;
    --b-spacing-5: 16px;
    --b-spacing-6: 20px;
    --b-spacing-7: 24px;
    --b-spacing-8: 32px;
    --b-spacing-9: 40px;
    --b-spacing-10: 48px;
    --b-spacing-11: 56px;
    --b-spacing-12: 64px;
    --b-spacing-13: 72px;
    --b-spacing-14: 80px;

    /* border-radius
    figma_link - https://www.figma.com/file/kof3uMLDgWjiLtlqePo0ZZ/2022-design-system?node-id=32%3A767994 */
    --b-radius-0: 0px;
    --b-radius-1: 2px;
    --b-radius-2: 4px;
    --b-radius-3: 8px;
    --b-radius-4: 12px;
    --b-radius-5: 16px;
    --b-radius-6: 24px;
    --b-radius-7: 32px;
    --b-radius-8: 40px;
    --b-radius-round: 50%;

    /* border-width
    figma_link - https://www.figma.com/file/kof3uMLDgWjiLtlqePo0ZZ/2022-design-system?node-id=33%3A3535 */
    --b-border-width-0: 0px;
    --b-border-width-1: 1px;
    --b-border-width-2: 2px;
    --b-border-width-3: 4px;
    --b-border-width-4: 8px;

    /* box shadow
    --s-color-shadow 토큰은 semantic 시트안에 있는데 괜찮나?
    figma_link - https://www.figma.com/file/kof3uMLDgWjiLtlqePo0ZZ/2022-design-system?node-id=33%3A3838 */
    --b-shadow-0: 0px 0px 0px var(--s-color-shadow);
    --b-shadow-1: 0px 2px 4px var(--s-color-shadow);
    --b-shadow-2: 0px 2px 8px var(--s-color-shadow);
    --b-shadow-3: 0px 4px 16px var(--s-color-shadow);
    --b-shadow-4: 0px 8px 24px var(--s-color-shadow);
    --b-shadow-5: 0px 16px 32px var(--s-color-shadow);
    --b-shadow-6: 0px 32px 64px var(--s-color-shadow);

    /* font-family
    입력방식 맞는지 체크 필요. 피그마에서는 따옴표 없이 입력됨.
    figma_link - https://www.figma.com/file/kof3uMLDgWjiLtlqePo0ZZ/2022-design-system?node-id=35%3A6213 */
    --b-fontFamily-poppins: "Poppins";
    --b-fontFamily-Pretendard: "Pretendard";
    --b-fontFamily-NotoSansKr: "Noto Sans KR";

    /* font-size
    figma_link - https://www.figma.com/file/kof3uMLDgWjiLtlqePo0ZZ/2022-design-system?node-id=39%3A8479 */
    --b-font-size-11: 0.688rem;
    --b-font-size-12: 0.75rem;
    --b-font-size-13: 0.813rem;
    --b-font-size-14: 0.875rem;
    --b-font-size-15: 0.938rem;
    --b-font-size-16: 1rem;
    --b-font-size-18: 1.125rem;
    --b-font-size-20: 1.25rem;
    --b-font-size-24: 1.5rem;
    --b-font-size-28: 1.75rem;
    --b-font-size-32: 2rem;
    --b-font-size-36: 2.25rem;
    --b-font-size-40: 2.5rem;
    --b-font-size-44: 2.75rem;
    --b-font-size-48: 3rem;

    /* font-weight
    figma_link - https://www.figma.com/file/kof3uMLDgWjiLtlqePo0ZZ/2022-design-system?node-id=35%3A6007 */
    --b-font-weight-thin: 200;
    --b-font-weight-light: 300;
    --b-font-weight-regular: 400;
    --b-font-weight-medium: 500;
    --b-font-weight-bold: 600;

    /* line-height 
    figma_link - https://www.figma.com/file/kof3uMLDgWjiLtlqePo0ZZ/2022-design-system?node-id=35%3A6107 */
    --b-font-lineHeight-1: 120%;
    --b-font-lineHeight-2: 140%;
    --b-font-lineHeight-3: 150%;
    --b-font-lineHeight-4: 160%;
    --b-font-lineHeight-5: 170%;
    --b-font-lineHeight-6: 180%;

    /* duration */
    --b-duration-none: 0s;
    --b-duration-extraFast: 0.05s;
    --b-duration-fast: 0.1s;
    --b-duration-normal: 0.2s;
    --b-duration-slow: 0.3s;
    --b-duration-extraSlow: 0.4s;
    
    /* typography 
    이렇게 적는 게 맞는지 모르겠다 */
    --b-text-heading-xxs: {
        font-family: var(--b-hub-fontFamily),
        font-weight: var(--b-font-weight-medium),
        line-height: var(--b-font-lineHeight-4),
        font-size: var(--b-font-size-14),
    };
}
